esphome:
  name: stackchan-voice-assistant
  friendly_name: M5Stack StackChan Voice Assistant

esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: ""

ota:
  - platform: esphome
    password: ""

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "StackChan-Voice-Assistant"
    password: ""

captive_portal:

packages:
  - !include common/stackchan-satellite-base.yaml